html{
    height: 100%;
}
body{
    background: #ffeaf9;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body:before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(at 100% 40%,#9faffe 0,transparent 46%),radial-gradient(at 90% 100%,#fcd4df 0,transparent 17%),radial-gradient(at 70% 59%,#b3c0fe 0,transparent 49%),radial-gradient(at 45% 40%,#cedefd 0,transparent 38%),radial-gradient(at 30% 40%,#e1fcfe 0,transparent 42%),radial-gradient(at 0 100%,#d6cbf0 0,transparent 63%);
}


body>main{
    flex: 1 0 auto;
    max-width: 100%;
    overflow: hidden;
}
body>header{
    box-shadow: 0 4px 16px 2px rgb(59 36 134 / 16%);
}
body>footer, body>header{
    flex: 0 0 auto;
}

header{
    display: flex;
    width: 100%;
    background: #fff;
    height: 60px;
    box-shadow: 0px 2px 4px 0px whitesmoke;
    justify-content: center;
    border-bottom: 1px solid #dedede;
}

header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.main-content{
    background: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 0 4px 16px 2px rgb(59 36 134 / 16%);
}
footer{
    display: flex;
    height: 100px;
    background: #2c3135;
    border-top: 1px solid #dedede;
}

.results-box{
    display: flex;
    position: absolute;
    width: 260px;

}
.results{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 2px 4px 0px whitesmoke;
    border: solid #dedede 1px;
    border-top: none;
    border-radius:0 0 10px 10px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}
.results-box a{
    background: #fff;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom: solid #dedede 1px;
}
.results-box a:last-child{
    border-bottom: none;
}

.results-box a:hover{
    background: #add4ff;
    border-bottom: solid #add4ff 1px;
}

.site-box{
    display: flex;
    flex-direction: column;
}
.site-box>div{
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*.site-box>div:nth-child(2){*/
/*    flex-direction: column;*/
/*}*/
.site-card .site-name{
    font-size: 20px;
    line-height: 28px;
}
.site-card .fav-box{
    margin: 10px 0;
}

.popular-list{
    display: flex;
    flex-wrap: wrap;
}

.site-card{
    box-shadow: 0 4px 16px 2px rgb(59 36 134 / 16%);
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: black;
    font-family: cursive;
    background: #fff;
}

.site-card:hover{
    box-shadow: 0 4px 16px 4px rgb(59 36 134 / 16%);
}

.popular-list .site-card-box{
    display: block;
    width: 20%;
    padding: 12px;
    box-sizing: border-box;
}

@media (max-width: 1400px){
    .popular-list .site-card-box{
        width: 25%;
    }
}
@media (max-width: 991px){
    .popular-list .site-card-box{
        width: 50%;
    }
}

@media (max-width: 560px){
    .popular-list .site-card-box{
        width: 100%;
    }
}


.site-fav{
    width: 30px;
}

.s_200{
    color: forestgreen;
}

.s_empty{
    color: #ff5858;
}

